@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Outfit:wght@300;400;600;700&display=swap');
@import "utils.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
/*    fonts*/
    --font:'Open Sans', sans-serif;
    --font-regular:400;
    --font-semibold:600;
    --font-bold:700;

/*    colors*/
    --main-color:#6E3CBC;
    --seconday-color: #7267CB;
    --light-color:#98BAE7;
    --altenative-color: #B8E4F0;
    --white: white;
}

/*css start*/

body{
    background-color: var(--seconday-color);
    font-family: var(--font);
}

/*for respnsiveability*/
/*eğer ki flex alana bir boyut vermezsek içerdekilere de boyut veremeyiz*/
.body-container{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    width: 740px;
/*    margin: auto;*/
    margin: 0 20px;
    border-radius: 25px;
    background-color: var(--main-color);
    z-index: 10;
    box-shadow: 0px 23px 80px rgba(0, 0, 0, 0.07),
    0px 11.5112px 40.0391px rgba(0, 0, 0, 0.0532233),
    0px 6.93383px 24.1177px rgba(0, 0, 0, 0.0456112),
    0px 4.44356px 15.4559px rgba(0, 0, 0, 0.0399626),
    0px 2.87996px 10.0172px rgba(0, 0, 0, 0.035),
    0px 1.8129px 6.30574px rgba(0, 0, 0, 0.0300374),
    0px 1.04162px 3.62304px rgba(0, 0, 0, 0.0243888),
    0px 0.458446px 1.59459px rgba(0, 0, 0, 0.0167767);}

/*TODO-HEADER*/
.todo-header{
    height: 200px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.todo-header-img{
    position: absolute;
    filter: brightness(0.2);
    z-index: -1;
}

.todo-header-title{
    font-weight: var(--font-bold);
}

.todo-header-date{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-weight: var(--font-semibold);
}

.todo-header-title,.todo-header-date{
    color: var(--white);
}

/*TODO-MAIN*/
/*    custom checkbox*/
.check-custom{
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    /*background-color: var(--main-color);*/
    display: inline-block;
    cursor: pointer;
}

.todo-check{
    display: none;
}

.todo-form{
    position: relative;
    padding: 0 60px;
    background-color: var(--seconday-color);
}

.todo-input{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: transparent;
    font-weight: var(--font-semibold);
}

.todo-input,.todo-input::placeholder{
    color: white;
}

.todo-form-check{
    position: absolute;
    top: 17px;
    left: 50px;
}

.todo-form-submit{
    position: absolute;
    top: 11px;
    right: 50px;
    background-color: transparent;
    cursor: pointer;
}

/*TODO-MAIN*/

.todo-title{
    text-align: center;
    font-weight: var(--font-bold);
    color: var(--white);
    margin: 5px 0;
    font-size: 2rem;
}

/*  todo list*/

.todo-list-container{
    height: 200px;
    padding: 20px 40px;
    overflow-y: scroll;
}

.todo-list-item-container{
    position: relative;
    margin-bottom: 5px;
}

.todo-item{
    position: relative;
    background-color: var(--light-color);
    border-radius: 7px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
}

.todo-item-check-text{
    column-gap: .4rem;
}

.todo-text{
    text-align: center;
    font-size: .9rem;
    color: var(--white);
    font-weight: var(--font-bold);
}

.check-custom{
    position: relative;
}

.todo-item-date{
    margin-top: -5px;
    width: 100%;
    color: transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .5s all;
}

/*visible todo-item-date*/
/*padding is gave hover effect*/
.todo-item:hover + .todo-item-date{
    padding: 10px;
    background-color: var(--seconday-color);
    color: white;
}

/*when todo completed there will be visible*/
/*done icon*/
.todo-item-done-icon{
    display: none;
    position: absolute;
    top: .7px;
    left: 2px;
}

/*TODO-FOOTER*/
.todo-footer{
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    background-color: var(--seconday-color);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.todo-footer-item{
    flex-direction: column;
    text-align: center;
    color: white;
    font-weight: var(--font-bold);
    padding: 20px;
}

.todo-footer-item-title{
    font-size: 1rem;
    text-transform: capitalize;
}

.footer-item-text{
    font-weight: var(--font-bold);
    font-size: 2rem;
}

/*hover effects*/
/*.deneme:hover{*/
/*    fill: #111;*/
/*}*/