.grid{
    display: grid;
}

.flex{
    display: flex;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

input{
    border: none;
    outline: none;
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.icon{
    cursor: pointer;
}

button{
    border: none;
    outline: none;
    padding: 0px;
}

.d-none{
    display: none; !important;
}

.custom--add{
    background-color: var(--main-color);
}

